[user]
    # Name used in commit messages.
	name = hiimfish
    # Email used in commit messages.
	email = chao.yen.po@gmail.com
[github]
    # GitHub username for command-line tools.
	user = hiimfish
[credential]
	helper = osxkeychain    
[color]
	# Colour terminal command output when possible.
	ui = auto
[push]
	# Push to the set upstream branch being tracked by default.
	default = simple
[pull]
	# Default to rebasing on pulls
	rebase = true
[fetch]
	# Always prune when fetching (and pulling).
	prune = true
	# Write commit graph to speed up some repositories.
	writeCommitGraph = true
[gc]
	# Write commit graph to speed up some repositories.
	writeCommitGraph = true
    [rerere]
	# Store and re-use manual conflict resolution changes.
	enabled = true
[core]
	# Exclude everything this file. Used for general exclusions.
	excludesfile = ~/.gitignore
	# Set attributes on files. Used for general diff improvements.
	attributesfile = ~/.gitattributes
	# Don't prompt for commit messages for merge commits.
	mergeoptions = --no-edit
	# Speed up some repositories.
	commitGraph = true
	# Output unicode characters (e.g. emoji).
	quotepath = on
[help]
  # Autocorrect mistyped commands.
	autocorrect = 1
[diff]
	# Use the slower but better patience diff algorithm
	algorithm = patience
	# Use new diff algorithm to make e.g. function diffs look better.
	compactionheuristic = true
	# Use a different colour for moved lines than added/modified ones
	colorMoved = zebra
[diff "xml"]
	textconv = xmllint --format --recover
[apply]
	# Cleanup whitespace by default when apply patches.
	whitespace = fix
[rebase]
	# Run `git stash` if needed before a `git rebase`
	autoStash = true
	# Auto-add `--autosquash` to `git rebase`
	autoSquash = true
# Settings for Git LFS
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	# Show the diff as a comment in the commit message template.
	verbose = true
	# Sign commits with GPG
	# gpgsign = true
[tag]
	# Sort tags by newest first
	sort = -version:refname
[protocol]
	# Use Git v2 protocol for better performance
	version = 2
[delta]
	features = line-numbers decorations
	syntax-theme = GitHub
	file-decoration-style = ''
	hunk-header-decoration-style = ''
[merge]
	conflictstyle = diff3
[color "status"]
	branch = normal
	added = 10 normal
	updated = 10 normal
	localbranch = normal
	changed = 11 normal
	header = normal
	remotebranch = normal
	nobranch = normal bold
	unmerged = 9 normal
	untracked = normal dim
[color "branch"]
	plain = normal
	remote = normal
	current = normal reverse
	local = normal
	upstream = normal
[color "remote"]
	hint = normal dim
	success = 2 normal
	error = 1 normal
	warning = 3 normal
[color "interactive"]
	header = normal dim bold
	prompt = 15 4
	help = normal dim
	error = normal bold
[color "diff"]
	commit = normal
	newMoved = 11 normal
	oldMovedAlternativeDimmed = 4 normal dim
	frag = normal dim italic
	oldMovedAlternative = 4 normal
	contextBold = normal bold
	newBold = 10 normal bold
	context = normal
	oldMoved = 3 normal
	oldBold = 1 normal bold
	newMovedDimmed = 11 normal dim
	func = normal dim italic
	meta = normal dim
	newDimmed = 10 normal dim
	newMovedAlternative = 12 normal
	new = 10 normal
	newMovedAlternativeDimmed = 12 normal dim
	whitespace = normal 9
	oldMovedDimmed = 3 normal dim
	oldDimmed = 1 normal dim
	old = 1 normal
[color "decorate"]
	branch = normal
	tag = normal
	remotebranch = normal
	stash = normal dim
	grafted = normal bold
	HEAD = normal italic
[http]
	postBuffer = 524288000
