[user]
    # Name used in commit messages.
	name = hiimfish
    # Email used in commit messages.
	email = chao.yen.po@gmail.com
[github]
    # GitHub username for command-line tools.
	user = hiimfish
[credential]
	helper = osxkeychain    
[color]
	# Colour terminal command output when possible.
	ui = auto
[push]
	# Push to the set upstream branch being tracked by default.
	default = simple
[pull]
	# Default to rebasing on pulls
	rebase = true
[fetch]
	# Always prune when fetching (and pulling).
	prune = true
	# Write commit graph to speed up some repositories.
	writeCommitGraph = true
[gc]
	# Write commit graph to speed up some repositories.
	writeCommitGraph = true
    [rerere]
	# Store and re-use manual conflict resolution changes.
	enabled = true
[core]
	# Exclude everything this file. Used for general exclusions.
	excludesfile = ~/.gitignore
	# Set attributes on files. Used for general diff improvements.
	attributesfile = ~/.gitattributes
	# Don't prompt for commit messages for merge commits.
	mergeoptions = --no-edit
	# Speed up some repositories.
	commitGraph = true
	# Output unicode characters (e.g. emoji).
	quotepath = on
[help]
  # Autocorrect mistyped commands.
	autocorrect = 1
[diff]
	# Use the slower but better patience diff algorithm
	algorithm = patience
	# Use new diff algorithm to make e.g. function diffs look better.
	compactionheuristic = true
	# Use a different colour for moved lines than added/modified ones
	colorMoved = default
[diff "xml"]
	textconv = xmllint --format --recover
[apply]
	# Cleanup whitespace by default when apply patches.
	whitespace = fix
[rebase]
	# Run `git stash` if needed before a `git rebase`
	autoStash = true
	# Auto-add `--autosquash` to `git rebase`
	autoSquash = true
# Settings for Git LFS
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
	# Show the diff as a comment in the commit message template.
	verbose = true
	# Sign commits with GPG
	# gpgsign = true
[tag]
	# Sort tags by newest first
	sort = -version:refname
[protocol]
	# Use Git v2 protocol for better performance
	version = 2
[delta]
	features = line-numbers decorations
	syntax-theme = GitHub
	file-decoration-style = ''
	hunk-header-decoration-style = ''
[merge]
	conflictstyle = diff3